
* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: PhonePeSans, sans-serif, Helvetica, Arial;
  color: black;
}
.nav {
  /* border: 2px solid blue; */
  display: flex;
  height: 90px;
  justify-content: space-between;
}

.imgDiv {
  /* border: 1px solid red; */
  width: 16%;
  /* height: 90%; */
}

#logo {
  width: 100%;
}

.options {
  /* border: 2px solid black; */
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  margin-top: 4%;
}
.oneOpt {
  /* border: 2px solid red; */
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.oneOpt > #opt {
  padding-left: 60px;
  padding-top: 20px;
}

@media screen and (max-width: 990px) {
  .nav {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    height: auto;
    /* justify-content: space-between; */
  }

  .imgDiv {
    /* border: 1px solid red; */
    width: 80%;
    /* height: 90%; */
    margin: auto;
  }

  .options {
    /* border: 2px solid black; */
    width: 99%;
    height: 50px;
  }

  a {
    margin-top: 4%;
    font-size: 10px;
  }

  .oneOpt {
    /* border: 2px solid red; */
    width: 99%;
    justify-content: center;
    height: 50px;
  }

  .oneOpt > #opt {
    padding-left: 60px;
    padding-top: 1px;
  }
}

@media screen and (max-width: 430px) {
  .nav {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .imgDiv {
    width: 80%;
    margin: auto;
  }

  .options {
    width: 99%;
    height: 50px;
  }

  a {
    margin-top: 4%;
    font-size: 10px;
  }

  .oneOpt {
    width: 99%;
    justify-content: center;
    height: 50px;
  }

  .oneOpt > #opt {
    padding-left: 40px;
    padding-top: 1px;
  }
}
